// breakpoints
xs = 576px
sm = 768px
md = 992px
lg = 1200px
xl = 1800px

// media
maxWidth(w)
  @media (max-width: w - 1px)
    { block }

minWidth(w)
  @media (min-width: w)
    { block }

minMaxWidth(min, max)
  @media (min-width: min) and (max-width: max)
    { block }

// responsive mixins
minXs()
  +minWidth(xs)
    { block }

maxXs()
  +maxWidth(xs)
    { block }

minSm()
  +minWidth(xs)
    { block }

maxSm()
  +maxWidth(sm)
    { block }

minMd()
  +minWidth(md)
    { block }

maxMd()
  +maxWidth(md)
    { block }

minLg()
  +minWidth(lg)
    { block }

maxLg()
  +maxWidth(lg)
    { block }

minXl()
  +minWidth(xl)
    { block }

maxXl()
  +maxWidth(xl)
    { block }

// hidden conditions
hidden(from)
  +minWidth(from)
    display none

.hidden
  hidden(0px)
  &-xs
    hidden(xs)
  &-sm
    hidden(sm)
  &-md
    hidden(md)
  &-lg
    hidden(lg)
  &-xl
    hidden(xl)

hiddenMax(from)
  +maxWidth(from)
    display none

.hiddenMax
  hiddenMax(0px)
  &-xs
    hiddenMax(xs)
  &-sm
    hiddenMax(sm)
  &-md
    hiddenMax(md)
  &-lg
    hiddenMax(lg)
  &-xl
    hiddenMax(xl)
